<h3>User</h3>

<div data-component="crn-datasource" id="crn-datasource-763276"> 
   <datasource name="User" entity="api/security/User" keys="id" rows-per-page="100" delete-message="Deseja remover?" on-after-create="this.$scope.goList()" on-after-update="this.$scope.goList()" initial-state="form"></datasource> 
</div>

<div data-component="crn-form" id="crn-form-form-User"> 
  <div class="form"> 
    <form crn-datasource="User"> 
      
      <div class="active-bar"> 
        <button class="btn btn-success" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button> 
        <button class="btn btn-danger" ng-click="datasource.cancel(); goList();"><i class="glyphicon glyphicon-remove"></i></button> 
      </div> 
      <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting"> 
        
        <div data-component="crn-textinput" id="crn-textinput-email"> 
          <div class="form-group"> 
          
            <label for="textinput-email">email</label> 
        
        <input type="text" ng-model="User.active.email" class="form-control" id="textinput-email" placeholder="email"> 

          </div> 
        </div> 
        
        <div data-component="crn-textinput" id="crn-textinput-name"> 
          <div class="form-group"> 
          
            <label for="textinput-name">name</label> 
        
        <input type="text" ng-model="User.active.name" class="form-control" id="textinput-name" placeholder="name" required="required"> 

          </div> 
        </div> 
        
        <div data-component="crn-textinput" id="crn-textinput-login"> 
          <div class="form-group"> 
          
            <label for="textinput-login">login</label> 
        
        <input type="text" ng-model="User.active.login" class="form-control" id="textinput-login" placeholder="login" required="required"> 

          </div> 
        </div> 
        
        <div data-component="crn-textinput" id="crn-textinput-picture"> 
          <div class="form-group"> 
          
            <label for="textinput-picture">picture</label> 
        
        <input type="text" ng-model="User.active.picture" class="form-control" id="textinput-picture" placeholder="picture"> 

          </div> 
        </div> 
        
        <div data-component="crn-textinput" id="crn-textinput-password"> 
          <div class="form-group"> 
          
            <label for="textinput-password">password</label> 
        
        <input type="password" ng-model="User.active.password" class="form-control" id="textinput-password" placeholder="password" required="required"> 

          </div> 
        </div> 
        
        <div data-component="crn-textinput" id="crn-textinput-theme"> 
          <div class="form-group"> 
          
            <label for="textinput-theme">theme</label> 
        
        <input type="text" ng-model="User.active.theme" class="form-control" id="textinput-theme" placeholder="theme"> 

          </div> 
        </div> 
        
        <div data-component="crn-textinput" id="crn-textinput-Role"> 
          <div class="form-group"> 
          
        
      <datasource append="false" name="Role" entity="api/security/User/{{User.active.id}}/Role" keys="id" rows-per-page="100" lazy="true" auto-post="true" enabled="{{User.editing}}"></datasource> 
      <datasource name="AllRole" entity="api/security/Role" keys="id" rows-per-page="100" enabled="{{User.editing}}"></datasource> 
      
        <div class="form-group" ng-show="datasource.editing">
          <label for="select-ui">Role</label> 
          <div id="select-ui" data-component="crn-tags"> 
            <ui-select multiple="" crn-datasource="AllRole" ng-model="Role.data" class="crn-select" style="min-width: 200px" theme="bootstrap" enabled="{{User.editing}}"> 
              <ui-select-match placeholder="Role..." content="
                 {{$item.name }} 
              ">
                 {{$item.name }} 
              </ui-select-match> 
              <ui-select-choices repeat="rowData in datasource.data | filter : $select.search"> 
                <div data-container="true" content="
                   {{rowData.name}} 
                ">
                   {{rowData.name}} 
                </div> 
              </ui-select-choices> 
            </ui-select> 
          </div>
        </div>
          </div> 
        </div> 
    
      </fieldset> 
      
    
      
    </form> 
  </div> 
</div>